body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }
  
  .sidebar a img {
    width: 40px; /* Adjust the size of icons as needed */
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .sidebar a.settings {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* Active class for the gradient */
  .sidebar a.active {
    background-image: linear-gradient(to right, #00ffcc, #3333ff);
  }
  
  .sidebar a:not(.active):hover {
    background-color: #575757;
  }

  .topbar {
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    background-color: #111;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 80px; /* Same width as your sidebar */
    z-index: 2;
  }
  
  .search-field {
    height: 30px;
    padding: 5px;
    margin-right: 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 15px;
    outline: none;
  }
  
  .topbar-icons {
    display: flex;
    align-items: center;
  }
  
  .topbar-item img {
    width: 20px; /* Adjust the size of icons as needed */
    height: auto;
    margin-left: 15px; /* Space between icons */
  }
  
  /* Fixing the top padding of the sidebar to avoid overlapping */
  .sidebar {
    padding-top: 70px; /* Height of topbar plus some extra space */
  }
  
  /* Rest of the styles remain unchanged */
  .user-profile {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the profile to the right */
  }
  
  .user-icon {
    width: 30px; /* Adjust based on your icon size */
    height: 30px;
    border-radius: 50%; /* Makes it round */
    margin-right: 5px;
  }
  
  .dropdown-arrow {
    width: 15px; /* Adjust based on your icon size */
    height: 15px;
  }
  
  .round-button {
    background-color: #2979ff; /* Adjust color as needed */
    width: 35px; /* Adjust size as needed */
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; /* Space from the profile */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .round-button img {
    width: 20px; /* Adjust based on your icon size */
    height: 20px;
  }
  
  /* Adjustments for mobile or smaller screen sizes may be necessary */
  @media (max-width: 600px) {
    .topbar {
      flex-direction: column;
      height: auto;
    }
  
    .user-profile, .round-button {
      margin-bottom: 10px;
    }
  }
  
  /* Rest of the styles remain unchanged */
  .logo {
    position: absolute;
    top: 0%;
    width: 100px;
  }